* {
  box-sizing: border-box;
}
.App {
  background: #F5F7FB;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.heading {
  color: #293264;
  font-size: 60px;
  margin-bottom: 0;
}
.heading2 {
  color: #293264;
  font-size: 40px;
}
.button1 {
  background: #293264;
  color: #fff;
  width: 240px;
  height: 80px;
  border-radius: 9px;
  border: none;
}
.buttontext {
  font-size: 30px;
}